APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379
   
LARAVEL_ECHO_PORT=6001

RAZORPAY_KEY=rzp_test_kgn44RpxNzldTz
RAZORPAY_SECRET=QoFHMAoJgaA7lzdZBLC9Aa76

GOOGLE_MAP_API_KEY=AIzaSyCL-Pg1Msz1SbqeTZLcv6Sq4GTEOrEasZY

#Current web setup version (new/old)
CURRENT_WEB_SETUP="old"

#Send Event Email in Queue
SEND_EVENT_EMAIL_IN_QUEUE=1
SEND_EVENT_SMS_IN_QUEUE=1
SEND_EVENT_WHATSAPP_IN_QUEUE=1

#Queue Server Domain/URL
EVENT_NOTIFICATION_SERVER_URL="http://15.207.149.71"
EVENT_NOTIFICATION_AUTH_TOKEN="Z40ec&lK^BVz#LBDOM5YHC5Du7TEE2theJ&9BlXT"

#set to 1 to enable condition from kernel and cronjob
IS_CRON_ENABLED=0