/node_modules
/public/hot
/public/storage
/public/upload
/storage/*.key
/storage/backup
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.lock
worker.log
composer.lock
composer.phar
/logs
package-lock.json
.idea
.vscode
/nbproject/private/
/nbproject
